/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --black: #181818;
  --theme-main: #babe69;

  --white-alpha-50: rgba(255, 255, 255, 0.5);
  --black-alpha-50: rgba(0, 0, 0, 0.5);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black);

  --section-gap: 6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-text), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
